@import '../../../../style/settings.colors';

.main-menu {
	width: 300px;
}

.item {
	display: inline-block;
	padding: 10px 20px;
}

.item a {
	color: black;
	text-decoration: none;
}

.item a:hover {
	color: var(--clr-blue);
}